.card-custom {
  background-color: #32a84e;
}

.custom-title {
  font-size: 20px;
  font-weight: 500;
}

.card-size {
  width: 100%;
}

.btn-content-center {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 0;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  font-size: 25px;
  background-color: #007bff;
  border-radius: 7px;
}

.button-register {
  background-color: #007bff;
  width: 40%;
  height: 3%;
  margin: 0 auto;
  display: inline-block;
  line-height: 35px;
  font-size: 20px;
  font-weight: 600;
}

.text-color {
  color: white;
}
