.items {
  float: left;
  margin: auto;
  margin-right: 50px;
}

.text-align {
  color: white;
  padding-bottom: 5px;
  align-items: center;
  font-size: 14px;
}

.icon-config {
  color: white;
  margin-bottom: 10px;
}
